{% extends _layout %}

{% block content %}

{% from "messages.html.twig" import show_messages %}
{{ show_messages(messages) }}
	
	<table class="table table-striped">
		<thead>
			<tr>
				<th>ID</th>
				<th>Nome</th>
				<th>Abreviação</th>
				<th>Qtd Equips</th>
				<th>Ações</th>
			</tr>
		</thead>
		<tbody>

		{% for amb in ambs %}

			<tr>
				<td>{{ amb.id }}</td>
				<td>{{ anchor('ambiente/inventario/' ~ amb.id, amb.nome) }}</td>
				<td>{{ amb.abrev }}</td>
				<td>{{ amb.qtd_equip }}</td>
				<td>
					<button onClick="deleta({{ amb.id }}, '{{ amb.abrev }}');" class="btn btn-danger btn-xs"><i class="fa fa-fw fa-lg fa-times"></i></button>
				</td>
			</tr>

		{% else %}

			<tr><td colspan="4"><div class="alert alert-danger text-center">
				Nenhum ambiente cadastrado
			</td></tr>
		
		{% endfor %}

		</tbody>
	</table>


<script type="text/javascript">
function deleta(id, abrev) {
	if(confirm('Deseja realmente REMOVER o ambiente "'+abrev+'"?'))
	{
		self.location = '{{ base_url('ambiente/delete') }}/' + id;
	}
}
</script>
{% endblock %}