{% extends _layout %}

{% block content %}

{{ validation_errors() }}

{{ form_open('patrimonio/novo', {'class': 'form-horizontal', 'id': 'formNovoPatrim'}) }}


	<div class="form-group">
		<label for="local" class="col-sm-2 control-label">Localização</label>
		<div class="col-sm-10">
			<select class="form-control" name="local">
				<option value=""></option>
				{% for amb in ambs %}

				<option value="{{ amb.id }}">{{ amb.nome }}</option>
				
				{% endfor %}
			</select>
		</div>
	</div>

	<div class="form-group">
		<label for="fabricante" class="col-sm-2 control-label">Equipamento</label>
		<div class="col-sm-4">
			<select class="form-control" id="fabricante" onChange="javascript:setModelos(this.value);">
				<option value=""></option>

				{% for fab in fabs %}

				<option value="{{ fab.fabricante }}">{{ fab.fabricante }}</option>

				{% endfor %}
			</select>
		</div>

		<div class="col-sm-4">
			<select class="form-control" name="modelo" id="modeloSelect">
				<option value=""></option>
			</select>
		</div>
	</div>

{#

	<ul class="nav nav-tabs nav-justified">
		<li role="presentation" class="active" id="simplesTab"><a href="#" onClick="javascript:cadastroSimples();">Simples</a></li>
		<li role="presentation" id="loteTab"><a href="#" onClick="javascript:cadastroLote();">Em lote</a></li>
	</ul>
	<br>

	<p class="bg-info" style="padding: 15px" id="info-lote">
		<strong>Instruções:</strong><br>
		Um equipamento por linha<br>
		Cada linha em "Nº Tombamento" corresponde a mesma linha em "Nº Série"<br>
	</p>


	<div class="form-group">
		<label for="tombo" class="col-sm-2 control-label">Nº Tombamento</label>
		<div class="col-sm-2">
			<span id="tomboSpan">
			</span>
		</div>

		<label for="n_serie" class="col-sm-2 control-label">Nº Série</label>
		<div class="col-sm-6">
			<span id="serieSpan">
			</span>
		</div>
	</div>


#}
<div id="linhasTombos">
	<div class="form-group">
		<label for="tombo" class="col-sm-2 control-label">Nº Tombamento</label>
		<div class="col-sm-2">
			<input type="text" name="tombo[]" class="form-control">
		</div>

		<label for="n_serie" class="col-sm-2 control-label">Nº Série</label>
		<div class="col-sm-4">
			<input type="text" name="serie[]" class="form-control">
		</div>

		<div class="col-sm-2">
			<button class="btn btn-success btn-block">Adicionar</button>
		</div>
	</div>
</div>

	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button type="submit" class="btn btn-primary btn-block">Cadastrar</button>
		</div>
	</div>

	<input id="tipoCadastro" type="hidden" name="tipoCadastro" value="{{ set_value('tipoCadastro', 'simples') }}" />
</form>



{% set oldTombo = set_value('tombo')|replace({"\r": '', "\n": '\n'}) %}
{% set oldSerie = set_value('tombo')|replace({"\r": '', "\n": '\n'}) %}

<script type="text/javascript">

var ajaxRequest;

function openAjaxPostRequest(url,params,ready_funct)
{
	console.log(url);
	console.log(params);
	console.log(ready_funct);
	ajaxRequest = new XMLHttpRequest();
	ajaxRequest.onreadystatechange = ready_funct;
	ajaxRequest.open("POST", url, true);
	ajaxRequest.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
	ajaxRequest.setRequestHeader("Content-length", params.length);
	ajaxRequest.setRequestHeader("Connection", "close");
	ajaxRequest.send(params);
}

function fillSelectModelo() {
	if(ajaxRequest.readyState == 4) {
		console.log(ajaxRequest.responseText);
		var xmlDoc = ajaxRequest.responseXML;

		var mods = xmlDoc.getElementsByTagName("modelo");
		var modeloSelect = document.getElementById("modeloSelect");

		for(i = 0; i < mods.length; i++) {
			var option = document.createElement("option");
			option.setAttribute("value", mods[i].childNodes[0].nodeValue);
			option.appendChild(document.createTextNode(mods[i].childNodes[0].nodeValue));
			modeloSelect.appendChild(option);
		}
		

	}
}

function setModelos(fabricante) {

	var modeloSelect = document.getElementById("modeloSelect");
	while(modeloSelect.firstChild) {
		modeloSelect.removeChild(modeloSelect.firstChild);
	}

	var option = document.createElement("option");
	option.setAttribute("value", "");
	modeloSelect.appendChild(option);
	
	if(fabricante != "") {
		var params = "fabricante="+fabricante;
		var url = "{{ base_url('equipamento/get_modelos') }}";
		openAjaxPostRequest(url, params, fillSelectModelo);
	}
}


var simplesTab = document.getElementById("simplesTab");
var loteTab = document.getElementById("loteTab");
var tomboSpan = document.getElementById("tomboSpan");
var serieSpan = document.getElementById("serieSpan");
var tipoCad = document.getElementById("tipoCadastro");

var tomboCommon = "class=\"form-control\" id=\"tombo\" name=\"tombo\"";
var serieCommon = "class=\"form-control\" id=\"n_serie\" name=\"n_serie\"";

function cadastroSimples() {
	simplesTab.className="active";
	loteTab.className="";
	tomboSpan.innerHTML = "<input type='text' maxlength='20' "+tomboCommon+" value=\"{{ oldTombo }}\">";
	serieSpan.innerHTML = "<input type='text' "+serieCommon+" value=\"{{ oldSerie }}\">";
	tipoCad.value="simples";
	document.getElementById("info-lote").style.display = "none";
}

function cadastroLote() {
	simplesTab.className="";
	loteTab.className="active";
	tomboSpan.innerHTML = "<textarea "+tomboCommon+" rows='6'>{{ oldTombo }}</textarea>";
	serieSpan.innerHTML = "<textarea "+serieCommon+" rows='6'>{{ oldSerie }}</textarea>";
	tipoCad.value="lote";
	document.getElementById("info-lote").style.display = "block";
}


// executado quando a página é carregada
if(tipoCad.value == "simples") cadastroSimples();
else cadastroLote();

</script>


{% endblock %}