{% extends _layout %}

{% block content %}

{% from "messages.html.twig" import show_messages %}
{{ show_messages(messages) }}

	{{ form_open('equipamento/busca') }}
	<div class="row">
	  	<div class="col-lg-8">
			<div class="input-group">
				<div class="input-group-btn">
				    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
				    	<span id="modoBuscaTexto">Descrição</span> <span class="caret"></span>
				    </button>
				    <ul class="dropdown-menu" role="menu">
				      <li><a href="#" onClick="javascript:setModoBusca('descricao');">Descrição</a></li>
				      <li><a href="#" onClick="javascript:setModoBusca('modelo');">Modelo</a></li>
				      <li><a href="#" onClick="javascript:setModoBusca('fabricante');">Fabricante</a></li>
				    </ul>
				</div><!-- /btn-group -->
				<input type="text" class="form-control" aria-label="..." name="busca[termo]" value="{{ busca.termo}}">
				<span class="input-group-btn">
					<button class="btn btn-primary" type="submit"> <span class="glyphicon glyphicon-search"></span> Buscar</button>
				</span>
			</div>
		</div>
		<div class="col-lg-4">
			<a href="{{ base_url('equipamento/novo') }}" class="btn btn-success btn-block" role="button">Cadastrar</a>
		</div>
	</div>
	<input type="hidden" name="busca[modo]" id="modoBuscaInput" value="descricao" />
	</form>
	<br>

	<table class="table table-striped">
		<thead>
			<tr>
				<th>Fabricante</th>
				<th>Modelo</th>
				<th>Descrição</th>
				<th>Ações</th>
			</tr>
		</thead>
		<tbody>

		{% for equip in equips %}

			<tr>
				<td>{{ equip.fabricante }}</td>
				<td>{{ anchor('equipamento/detalha/'~ equip.modelo|replace({' ': '_'}), equip.modelo) }}</td>
				<td>{{ equip.descricao }}</td>
				<td>
					<a href="{{ base_url('equipamento/edita/' ~ equip.modelo|replace({' ': '_'})) }}" class="btn btn-xs btn-warning">
						<i class="fa fa-fw fa-lg fa-pencil-square-o"></i>
					</a> 
					<a href="#" onClick="javascript:apagaModelo('{{ equip.modelo }}');" class="btn btn-xs btn-danger">
						<i class="fa fa-fw fa-lg fa-times"></i>
					</a>
				</td>
			</tr>

		{% else %}

			<tr><td colspan="4"><div class="alert alert-danger text-center">
				Nenhum equipamento cadastrado
			</td></tr>
		
		{% endfor %}

		</tbody>
	</table>


	{{ form_open('equipamento/apaga', {'id': 'apaga'}) }}
	<input type="hidden" name="apagamodelo" id="apagamodelo" />
	</form>


	<script type="text/javascript">

	function setModoBusca(modo) {
		switch(modo) {
			case "modelo": modoTexto = "Modelo"; break;
			case "fabricante": modoTexto = "Fabricante"; break;
			default: modoTexto = "Descrição"; modo = "descricao";
		}
		document.getElementById('modoBuscaTexto').innerHTML=modoTexto;
		document.getElementById('modoBuscaInput').value=modo;
	}

	setModoBusca('{{ busca.modo }}');

	function apagaModelo(modelo) {
		if (confirm('Deseja realmente APAGAR o equipamento de modelo "'+modelo+'"?')) { 
			document.getElementById('apagamodelo').value=modelo;
			document.getElementById('apaga').submit();
		}
	}
	</script>

{% endblock %}